{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} Accueil {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}
<img id="logofond" src="groupe-multi-ethnique-d-39-amis-prenant-un-cafe-ensemble_1139-1029.jpg" class="img-responsive">
<figure>
    <img id="logopara" src="{{ asset('assets/images/r-logo2.png') }}" alt="logo Deliverr" width="35%" class="animated rollIn img-responsive">
</figure>
<div class="scroll">
    <div class="icon-scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="a1"></span>
            <span class="a2"></span>
            <span class="a3"></span>
        </div>
    </div>
</div>
<div class="hik"></div>
<div class="formu">

    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-md-3 col-md-offset-1 col1" id="cat"></div>
            <div class="col-xs-3 col-md-3 col-md-offset-1 col2" id="cat"></div>
            <div class="col-xs-3 col-md-3 col-md-offset-1 col3" id="cat"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-3 col-md-offset-1 col1" id="cat"></div>
            <div class="col-xs-3 col-md-3 col-md-offset-1 col2" id="cat"></div>
            <div class="col-xs-3 col-md-3 col-md-offset-1 col3" id="cat"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-3 col-md-offset-1 col1" id="cat"></div>
            <div class="col-xs-3 col-md-3 col-md-offset-1 col2" id="cat"></div>
            <div class="col-xs-3 col-md-3 col-md-offset-1 col3" id="cat"></div>
        </div>


    </div> <!-- container -->
</div>
{% endblock %}