
{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} FAQ {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}



<img id="logofond" src="{{ asset('assets/images/background.jpg') }}" class="img-responsive">
<div class="backcontact">
<div class="container" id="cate">
    <h1 id="makeawish" class="contactwish">Make a wish and you are served !</h1>



    <div class="panel-group faq" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Qui sommes-nous ?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Un genre nouveau de services à la personne... sur vos centres d’intérêts. Ici pas de ménage, de repassage ou de livraison de pizzas, Deliverr veut vous rendre une vie plus belle ! Ce site regroupe les acteurs pour des idées insolites : coiffures pour des colorations réussies, des informations conseils pour vos voyages ou simplemenent une animation chanson pour une soirée ou contre la monotonie du quotidien, tout ceci en un clic et tout cela chez vous. Tout est très simple, il vous suffit de choisir votre rubrique et de vous laissez porter par les suggestions et les propositions qui vous sont faites. Tout est suggéré rien est imposé. Nous sommes là pour vous !
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Comment fonctionne notre vente de services ?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Deliverr propose un système de vente de services inédit dans lequel vous êtes à la fois client et vendeur ! En effet, lorsque vous vous connectez, le bouton "Proposer un service" dans le menu vous permettra, suite à un formulaire complet et sécurisé, de proposer votre service. Celui-ci sera accessible une fois votre dossier reçu, et à la suite de l'entretien vidéo avec notre recruteur.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Mes paiements sont-ils sécurisés ?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Bien entendu, le paiement est entièrement sécurisé ! <br>Les données transmises à notre banque sont totalement chiffrées avec le cryptage SSL, utilisé et reconnu par tous, et aucune information n'est stockée sur nos serveurs. Nous n'avons donc à aucun moment accès à vos coordonnées bancaires et, même dans le cas tout à fait improbable d'un piratage de notre site, ces informations ne pourraient donc aucunement être récupérées.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Je voudrais proposer un service. Comment faire ?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    Pour proposer un service, c'est très simple !<br> Il vous suffit de suivre les étapes suivantes : <br> - Connecter vous à votre compte. <br> - Rendez-vous dans la rubrique "proposer un service" grâce au bouton correspondant. <br> - Lire attentivement les conditions générales de vente et les approuver. <br> - Remplir l'ensemble des champs du formulaire, afin de nous renseigner au mieux du service que vous proposez (les champs sont obligatoires). <br> - Convenez d'une date d'entretien vidéo avec notre recruteur, en fonction de nos disponibilités. <br> - Un message de confirmation vous sera envoyé par mail. Il vous sera également demandé par ce biais de nous envoyer un dossier comprenant les différents documents qui nous seront necessaires. <br> - A l'issue de cet entretien, et après validation de votre dossier, votre service sera mis en ligne et accessible à tous. Les différentes commandes vous seront notifiées par mail et dans votre espace client sur le site.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Comment contacter l'administrateur du site ?
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    Un formulaire de contact est à votre disposition sur notre site. Pour y accéder, il vous suffit de cliquer sur le bouton "contact" dans la barre de menu. Il vous sera demandé de renseigner vos nom, prénom et adresse mail au préalable.
                    Nous sommes également joignables par téléphone au numéro suivant : 06.98.20.15.37.
                    Notre service client est disponible 24h/24 et 7j/7.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Le service commandé n'a malheureusement pas répondu à mes attentes. Que faire ?
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    Nous ne pouvons malheureusement pas vous garantir une satisfaction optimale pour les services proposés, et nous ne nous tenons pas responsables de toutes méconvenances parvenues. C'est pourquoi nous vous invitons à contacter directement le prestataire du service pour toutes réclamations.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingSeven">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Je propose un service. Quand et comment vais-je recevoir ma rémunération ?
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                    Nos factures sont générées automatiquement et archivées afin d'éviter tout malentendu. Vous serez, à l'issue de votre prestation, rémunéré par virement bancaire du montant intégral du prix de celle-ci. En cas de non-réception de votre rémunération, veuillez-vous adresser directement au service commercial au numéro suivant : 06.98.20.15.38. Nous serons ainsi en mesure de répondre à votre réclamation dans les plus brefs délais.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingEight">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Ma frange est moche. Que faire ?!
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">
                    L'équipe Deliverr vous suggère de vous raser délicatement les cheveux. ♥<br>
                    <img src="{{ asset('assets/images/frange.gif') }}">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading faqcouleur" role="tab" id="headingNine">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Comment twerker comme Nicki Minaj ?
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                <div class="panel-body">
                    Pensez à quelqu'un qui vous plait et imaginez qu'il vous regarde !<br>
                    PS: éteignez vos bougies ♥ !<br>
                    <img src="{{ asset('assets/images/twerk.gif') }}">
                </div>
            </div>
        </div>
    </div>
    </div>





</div> <!-- container -->
<footer class="footerservice">
    <div class="container">
        <!--All right-->
        <div class="allright">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p> © 2017 <a href="#">DELIVERR</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>




{% endblock %}