
{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} FAQ {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}




<div class="container" id="cate">
    <h1 id="makeawish">Make a wish and you are served !</h1>
    
    
    
<!--    CONTENU ICI-->
    
    
    
    


</div> <!-- container -->
<footer class="footer">
    <div class="container">
        <!--All right-->
        <div class="allright">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p> © 2017 <a href="#">DELIVERR</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>




{% endblock %}