
{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} FAQ {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}




<div class="backcontact">
    <div class="container" id="cate">
        <h1 id="makeawish" class="contactwish">Make a wish and you are served !</h1>

        <h2>Mentions légales</h2>

        <p>RAISON SOCIALE: Deliverr<br>
            FORME JURIDIQUE: SARL au capital de 1€<br>
            ADRESSE: 19bis Chemin du Martelet 69400 LIMAS<br>
            MAIL: deliverr-gac@yahoo.com<br>
            RCS LYON : 12345678900010<br>
            APE: <br>
            TVA intracommunautaire: FR69123456789<br>
            RESPONSABLE DE PUBLICATION: <br>
            <br>
            HEBERGEMENT: OVH SAS<br>
            ADRESSE: 2 rue Kellerman BP 80157 ROUBAIX CEDEX 1<br>
            TEL: 1007<br>
            MAIL: cil@ovh.net<br>
            <br>
            Enregistré auprès de la CNIL sous le numéro xxxxxxxxxx<br>
            Conformément à la loi Informatique et Libertés du 6 janvier 78 modifiée,<br>
            vous possédez les droits d'accès, de réctification et de supression des données vous concernant.<br>
            Vous pouvez adresser votre demande à wf3villefranche@gmail.com.<br>
        </p>



    </div> <!-- container -->
    <footer class="footer">
        <div class="container">
            <!--All right-->
            <div class="allright">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <p> © 2017 <a href="#">DELIVERR</a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>




    {% endblock %}