{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}
{% block title %} {{ categorie }} - Deliverr {% endblock %}

{# Block de Contenu défini dans base.html.twig #}
{% block contenu %}



<div class="container" id="cate">
    <h1 id="makeawish">Make a wish and you are served !</h1>
    <div class="row">
        {% for souscategorie in souscategories %}
        <div class="col-xs-3 col-md-3 col-md-offset-1 Voyage" id="cat"><a href="{{ url('deliverr_souscategorie', {libellesouscategorie: souscategorie.LIBELLESOUSCATEGORIE | lower}) }}" class="liencat">{{ souscategorie.LIBELLESOUSCATEGORIE }}</a></div>
        {% endfor %}
    </div>


</div> <!-- container -->
<footer class="footer">
    <div class="container">
        <!--All right-->
        <div class="allright">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p> © 2017 <a href="#">DELIVERR</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>




{% endblock %}