<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
                <h3>CATEGORIES :</h3>
                <ul class="list-category">
                    
                </ul>
            </div>
        </div>
        <!--All right-->
        <div class="allright">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p> © 2017 <a href="#">DELIVERR</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
